.logo {
    // background-color: orange;
    padding-left: 20px;
    float: left;
    height: 40px;
}

.logo-text {
    // background-color: orange;
    font-size: 45px;
    color: orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 550;
    width: 50px;
}

.navbar-links {
    float: right;
    padding-right: 20px;
    display: flex;
    text-align: center;
}

.navbar-links span {
    font-size: 16px;
}

.nav-text span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: none;
}

.social-links {
    float: right;
    padding-right: 175px;
}

.social-links li {
    display: inline-block;
}


.loggedOut-nav-bar {
    width: 100vw;
    margin: 0 auto;
    background-color: lightgray;
    padding-top: 15px;
}

.loggedOut-nav-bar main:hover {
    font-size: larger;
}

.loggedOut-nav-bar a:hover {
    font-size: medium;
}

.loggedOut-nav-bar::after {
    content: '';
    display: block;
    clear: both;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-links li {
    display: inline-block;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 5px;

    position: relative;
}

.search-container input {
    display: inline-block;
    height: 20px;
}

.search-container button {
    color: orange;
    height: 26px;
}

.github {
    height: 45px;
    width: 45px;
    // display: flex;
    vertical-align: middle;
}

.linkedin {
    height: 35px;
    width: 35px;
    vertical-align: middle;
}

.fas, .far {
    color: orange;
    text-decoration: none;
    font-weight: 500px;
}