.footer {
  background-color: #000000ab;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 40px;
  margin-top: 50px;
  bottom: 0;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}


/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  padding-left: 50px;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .about a {
    color: #38a3d9;
    text-decoration: underline;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 20px;
  line-height: 38px;
}

.footer .footer-center i.fa-phone {
    font-size: 20px;
    line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer .footer-right i.fa-linkedin {
  font-size: 20px;
  line-height: 38px;
}

.footer .footer-right i.fa-github {
    font-size: 20px;
    line-height: 38px;
}

.footer .footer-right i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-right p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}