.bookmark-image {
    max-width: 200px;
    padding: 10px;
}

.bookmark-item-text {
    padding: 10px;
}

.bookmark-item-title {
    font-size: 1.5em;
    color: #38a3d9;
    font-family: Arial, Helvetica, sans-serif;
}

.bookmark-item-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95em;
    overflow: hidden;
    color: gray;
}

.fas, .far {
    cursor: pointer;
}

.bookmark-item-container {
    display: flex;
    border-bottom: 2px solid gray;
}

.empty-bookmark {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 600;
    min-height: 200px;
    align-items: center;
    color: gray;
}